h2{
    font-size: 24px;
    font-family: 'source_sans_proregular';
    color: #333333;
    text-align: left;
    padding: 20px 0px 0px 0px;    
}

h3{
    width: 135px;
    font-size: 18px;
    font-family: 'source_sans_proregular';
    color: #809634;
    text-align: left;
    border-bottom: 2px solid #809634;
    padding-top: 15px; 
}

#search_filter_location{
    width: 16%;
    float: left;
    font-family: 'source_sans_proregular';
    font-size: 14px;
    color: #555555;
    margin-top: -2%;
}
#search_filter_categories{
    width: 16%;
    float: left;
    font-family: 'source_sans_proregular';
    font-size: 14px;
    color: #555555;
    margin-top: -2%;
}
.number{
    color: #888888;
}
#advanced_search{
    width: 80%;
    background-color: #f6f6f4;
    height: 200px;
    margin-left: 20%;
    color: #555555;
    padding:20px 0px 5px 0px;
}
#search_main{
    width: 80%;
    background-color: #f6f6f4;
    height: 80px;
    margin-left: 20%;
    color: #555555;
    padding:20px 0px 5px 0px;
}
lable{
    margin-right: 20px;

}
.search{
    height: 28px;
    width: 500px;
    border: 1px solid #e5e6e3;
    padding-left: 14px;
    font-size: 12px;
}
.search_field li{
    list-style: none;
    font-size: 14px;
    margin-bottom: 15px;
    margin-right: 20%;
}
.price_box{
    height: 28px;
    width: 50px;
    border: 1px solid #e5e6e3;
    padding-left: 14px;
    font-size: 12px; 
}

.search_result{
    width: 80%;
    background-color: #f6f6f4;
    margin-left: 20%;
    color: #555555;
    margin-top: 20px;
}
.search_result p{
   margin: 20px;
}
.item_brief{
    width: 80%;
    background-color: #ffffff;
    border: 1px solid #f6f6f4;
    margin-left: 20%;
    color: #555555;
    margin-top: 20px;
}
.item_brief p{
   margin: 20px;
}
.book_description{
    width: 80%;
    background-color: #ffffff;
    border: 1px solid #f6f6f4;
    margin-left: 20%;
    color: #555555;
    margin-top: 20px;
    padding-bottom: 40px;
    margin-bottom: 80px;
}
.book_description h4{
    font-size: 14px;
    font-family: 'source_sans_probold';
    margin: 20px;  
}
.book_description p{
   margin: 20px 40px 10px 20px;
}
.book_image{
    height: 200px;
    width: 18.6%;
    border: 1px solid #d6d6d6;
    float: left;
    margin: 20px;
}
.book_details{
    width: 55%;
    margin-left: 22%;
    font-family: 'source_sans_proregular';
    font-size: 14px;
    color: #555555;
}
.book_details .title{
    font-size: 15px;
    font-family: 'source_sans_probold';
    color: #555555;
    padding-top: 30px;
}
.book_details p{
    line-height: 2px;
    color: #555555;
}
.book_details .posted_date{
    float: right;
    margin-right: -34%;
    font-size: 12px;
    margin-top: 5%;
}
.book_info{
    width: 20%;
    float: right;
    margin-top:0%;
}
.book_info .price{
    font-size: 18px;
    margin-left: 0.1%;
    font-family: 'source_sans_probold';
    color: #555555;
}
.contact_seller{
    width: 120px;
    height: 24px;
    border:1px solid #dbdcd9;
    margin-top: 10%;
    background-image: url('../images/contact_seller.png');
}
.contact_seller:hover{
    width: 120px;
    height: 24px;
    border:1px solid #dbdcd9;
    background-image: url('../images/contact_seller_hover.png');
}
.seller_details{
    width: 170px;
    padding: 15px 15px 0px 15px;
    background-color: #ffffff;
    border: 1px solid #dcddda;
    margin-left: -52.5%;
    margin-top: -12.4%;
}
.seller_details p{
    width: 170px;
    font-size: 11px;
    margin-left: -2%;
    margin-top: -2%;
    color: #555555;
    font-family: 'source_sans_probold';
}
#load_more{
    width: 80%;
    height: 33px;
    background-color: #eaeae8;
    margin-left: 20%;
    text-align: center;
    padding-bottom: 2px;
    padding-top: 1px;
    margin-top: 30px;
    margin-bottom: 60px;
}
#back{
    float: right;
}
#back a{
    color: #87974a;
    padding-left: 6px;
}
#back a:hover{
    color: #87974a;
    text-decoration: underline;
    padding-left: 6px;
}
.author{
    height: 28px;
    width: 200px;
    border: 1px solid #e5e6e3;
    padding-left: 14px;
    font-size: 12px;
}
.email{
    height: 28px;
    width: 200px;
    border: 1px solid #e5e6e3;
    padding-left: 14px;
    font-size: 12px;
}
.shop{
    height: 28px;
    width: 500px;
    border: 1px solid #e5e6e3;
    padding-left: 14px;
    font-size: 12px;
}
.language{
    width: 130px;
    height: 25px;
    background: #ffffff;
    border: 1px solid #e5e6e3;
  
}
.price{
    height: 28px;
    width: 130px;
   
    padding-left: 4px;
    font-size: 12px;
}
.book_summary{
    border: 1px solid #e5e6e3;
    padding-left: 14px;
    font-size: 12px;
}

/* Form submit button */
.button {
overflow: visible;
position: relative;
border: 0;
padding: 0;
cursor: pointer;
height: 25px;
width: 70px;
margin-left: 1%;
margin-bottom: 20px;
font-size: 12px;
color: white;
background: #94b659;
border: 1px solid #7c9e42;
border-radius: 1px 1px 1px 1px;
text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
}
.buttons {
overflow: visible;
position: relative;
border: 0;
padding: 0px 0px 0px 0px;
cursor: pointer;
height: 30px;
width: 70px;
margin-left: 1%;
margin-bottom: 20px;
font-size: 13px;
color: white;
background: #94b659;
border: 1px solid #7c9e42;
border-radius: 1px 1px 1px 1px;
text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
}   
.search-wrapper button:hover{     
    background: #94b659;
}   
   
.search-wrapper button:active,
.search-wrapper button:focus{   
    background: #94b659;
    outline: 0;   
}
 
.search-wrapper button:before { /* left arrow */
    content: '';
    position: absolute;
    border-width: 8px 8px 8px 0;
    border-style: solid solid solid none;
    border-color: transparent #94b659 transparent;
    top: 12px;
    left: -6px;
}
 
.search-wrapper button:hover:before{
    border-right-color: #94b659;
}
 
.search-wrapper button:focus:before,
.search-wrapper button:active:before{
        border-right-color: #94b659;
}      
 
.search-wrapper button::-moz-focus-inner { /* remove extra button spacing for Mozilla Firefox */
    border: 0;
    padding: 0;
}

#states{
    width: 200px;
    height: 25px;
    background: #ffffff;
    border: 1px solid #e5e6e3;
  
}
#sort_by{
    width: 120px;
    height: 25px;
    background: #ffffff;
    border: 1px solid #e5e6e3;
    float: right;
    margin-top: -0.4%;
    color: #809634;
    font-size: 12px;
}
.heading_search{
    color: #555555;
    font-size: 18px;
    font-family: 'source_sans_probold';
}
.heading{
    color: #809634;
}
.para1{
    font-size: 18px;
    color: #555555;
    line-height: 25px;
    text-align: justify;
}
.para2{
    font-size: 18px;
    color: #555555;
    line-height: 25px;
    text-align: justify;
}
.book{
    float: left;
    padding: 40px;
    padding-left: 0px;
}